body {
    h1 {
        text-align: center;
    }
    
    #qualities-list {

        .quality-item {
            background-color: aquamarine;
            text-align: center;
            border-radius: 15px;
        }
    } 
}