body {
    h1 {
        text-align: center;
    }
    
    #qualities-list {
        

        .quality-item {
            text-align: center;

            .quality-wrapper {
                background-color: lightblue;
                border-radius: 15px;
                box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: 0.2);
            
                .quality-name {
                    
                }
            }
        }
    } 
}